:root {
  --body-font: "Roboto Mono", monospace;
  --main-font: "Caveat", cursive;
  --secondary-font: "Dosis", sans-serif;
  --primary-color: salmon;
  --secondary-color: rgb(71, 66, 65)
  --tertiary-color: antiquewhite;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navBar {
  background-color: white !important;
}

.navbar-brand {
  font-family: var(--main-font);
  font-size: 24px !important;
}

.text-secondary{
  color: rgb(94, 94, 94);
  font-size: 17px;
}

.text-secondary:hover,
.navbar-brand:hover {
text-decoration: underline;
}

#greeting {
  margin-top: 50px;
}

/*
.fade-in{
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
*/

.sentence {
  font-size: 44px;
  font-family: var(--body-font);
  font-weight: bolder;
  color: var(--secondary-color);
}

#cat-icon {
  width: 80px;
}

.display {
  font-size: 90px;
  font-family: var(--main-font);
  color: var(--primary-color);
  padding-top: none;
}

h3 {
  font-family: var(--secondary-font);
  font-weight: lighter;
  color: var(--secondary-color);
  font-size: 40px;
  margin: 0;
}

#projects {
  text-align: left;
}

#coder-info {
  font-size: 30px;
  font-family: var(--body-font);
  font-weight: bolder;
  color: var(--secondary-color);
}

#navigation-links {
  font-size: 18px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-family: var(--secondary-font);
}

#box-1,
#box-2 {
  border: 1px solid;
  margin: 20px;
  border-radius: 4px;
  padding: 20px 1px;
  width: 150px;
  text-decoration: unset;
  box-shadow: var(--box-shadow);
}

#box-3,
#box-4,
#box-5 {
  border: 1px solid;
  border-radius: 4px;
  padding: 20px 1px;
  padding: 16px 10px;
  text-decoration: unset;
  box-shadow: var(--box-shadow);
}

#box-3,
#box-4,
#box-5 {
  background: var(--primary-color);
  border-color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 18px;
}

.primary-link {
  color: antiquewhite !important;
}

.mb-3 {
  font-family: var(--main-font);
  font-size: 60px;
  color: var(--secondary-color);
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.about-content {
  margin-bottom: 150px;
}
.content {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

#contact {
  font-family: var(--body-font);
  font-size: 14px;
  text-align: right;
}

#contact-heading {
margin-top: 100px;
text-align: left;
}

#email {
  text-decoration: unset;
  font-family: var(--secondary-font);
  font-weight: lighter;
  font-size: 17px;
  text-align: right;
}

#navbarNav {
  text-align: right;
}

#link-2 {
  text-decoration: unset;
  color: var(--tertiary-color);
}

#link-2:hover,
#media:hover {
  color: var(--primary-color);
}

#media, .copyright {
  color: var(--tertiary-color);
  font-family: var(--body-font);
  font-size: 14px;
  padding-left: 10px;
  text-align: left;
  text-decoration: none;
}

 #symbol {
font-family: Georgia, 'Times New Roman', Times, serif;
 }

 #name {
   font-size: 20px;
   font-family: var(--main-font);
 }

@media (max-width: 600px) {
  #cat-icon {
    width: 65px;
  }

  .sentence {
    font-size: 32px;
  }

  .display {
    font-size: 65px;
  }

  #coder-info {
    font-size: 20px;
  }

  #box-3,
  #box-4,
  #box-5 {
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .mb-3 {
    text-align: center;
  }
}


