:root {
  --body-font: "Roboto Mono", monospace;
  --main-font: "Caveat", cursive;
  --secondary-font: "Dosis", sans-serif;
  --primary-color: salmon;
  --secondary-color: rgb(71, 66, 65)
  --tertiary-color: antiquewhite;
  --error: rgb(255,64,64);
  --border: 0px 0px 2px 0px;
  --alpha-border: 1;
}

 .p-body  {
   margin-bottom: 332px;
 }

.navBar {
  background-color: white !important;
}

.navbar-brand {
  font-family: var(--main-font);
  font-size: 24px !important;
}

.text-secondary{
  color: rgb(94, 94, 94);
  font-size: 17px;
}

.text-secondary:hover,
.navbar-brand:hover {
text-decoration: underline;
}


.intro {
font-size: 155px;
font-family: var(--secondary-font);
color: var(--secondary-color);
}

.index {
  font-size: 26px;
  margin-top: 50px;
}

/*
.fade-in{
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
*/

.sentence {
  font-size: 65px;
  font-family: var(--body-font);
  font-weight: bolder;
  color: var(--secondary-color);
}

#cat-icon {
  width: 100px;
    margin-top: 20px;
}

.display {
  font-size: 120px;
  font-family: var(--main-font);
  color: var(--primary-color);
  padding-top: none;
}

h3 {
  font-family: var(--secondary-font);
  font-weight: lighter;
  color: var(--secondary-color);
  font-size: 40px;
  margin: 0;
}

#projects {
  text-align: left;
}

#coder-info {
  font-size: 30px;
  font-family: var(--body-font);
  font-weight: bolder;
  color: var(--secondary-color);
}

#navigation-links {
  font-size: 18px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-family: var(--secondary-font);
}

.mb-3 {
  font-family: var(--main-font);
  font-size: 60px;
  color: var(--secondary-color);
}

.contact-page {
    font-size: 65px;
    font-family: var(--body-font);
    font-weight: bolder;
    color: var(--secondary-color);
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.about-content {
  margin-bottom: 40px;
}

.content {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

#contact {
  font-family: var(--body-font);
  font-size: 14px;
  text-align: right;
}

.rounded{
 filter: brightness(100%);
}

.rounded:hover {
filter: brightness(85%);
transition:  all 1s ease;
}

#contact-heading {
margin-top: 100px;
text-align: left;
}

.contact-form {
  padding-top: 20px;
  margin-bottom: 150px;
}

.form-control {
  border-width: var(--border) !important;
  border-style: solid !important;
  border-color: rgba(var(--border),var(--alpha-border)) !important;
}

input:focus, textarea:focus, button:focus{
box-shadow: 0 0 0 rgb(255, 255, 255) !important;
}

.form-control::placeholder{
  font-family: var(--body-font);
  font-weight: bold;
}

.form-button {
  border: none !important;
  font-weight: bold !important;
  font-family: var(--body-font);
  background:none !important;
  color: var(--secondary-color) !important;
}

.btn {
  padding:0 !important;
}

#email {
  text-decoration: unset;
  font-family: var(--secondary-font);
  font-weight: lighter;
  font-size: 17px;
  text-align: right;
}

#navbarNav {
  text-align: right;
}

#link-2 {
  text-decoration: unset;
  color: var(--tertiary-color);
}

#link-2:hover,
#media:hover {
  color: var(--primary-color);
}

#media, .copyright {
  color: var(--tertiary-color);
  font-family: var(--body-font);
  font-size: 14px;
  padding-left: 10px;
  text-align: left;
  text-decoration: none;
}

 #symbol {
font-family: Georgia, 'Times New Roman', Times, serif;
 }

 #name {
   font-size: 20px;
   font-family: var(--main-font);
 }

@media (max-width: 600px) {
.intro {
font-size: 55px;
font-family: var(--secondary-font);
color: var(--secondary-color);
}

.index {
  font-size: 20px;
  margin-top: 20px;
}

.content, .mb-3 {
  text-align: justify;
}

  #cat-icon {
    width: 65px;
  }

  .sentence {
    font-size: 32px;
  }

  .display {
    font-size: 65px;
  }

  #coder-info {
    font-size: 20px;
  }

}